* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: aliceblue;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  border-style: dashed;
  border-radius: 20px;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  background-color: #f3f3f3;
  padding: 15px;
}

.flexbox .board .item {
  padding: 15px 25px;
  background-color: aliceblue;
  cursor: pointer;
  margin-bottom: 15px;
}

.team:hover {
  cursor:pointer;

}

.player:hover {
  cursor:pointer;
}

.player {
  margin-left: 25px;
}

.stats {
  background-color: #f3f3f3;
  height: 400px;
  width: 230px;
  border-style: solid;
  padding: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.brown {
  color: brown;
}